.body {
  background-color: rgb(241, 80, 80);;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.grid {
  display: inline-grid;
  grid-template-columns: auto auto auto;
  margin: 2rem;
  border: solid 2px black;
  background-color: lightslategray;
}
.grid-item {
  border: solid black .5px;
}

.off {
  height: 99px;
  margin: .5px;
  width: 99px;
  background-color: grey;
}

.on {
  height: 99px;
  margin: .5px;
  width: 99px;
  background-color: yellow;
}
