.body {
  background-color: rgb(241, 80, 80);;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.grid {
  display: inline-grid;
}

.off {
  border: 1px solid black;
  height: 99px;
  margin: .5px;
  width: 99px;
  background-color: grey;
}

.on {
  border: 1px solid black;
  height: 99px;
  margin: .5px;
  width: 99px;
  background-color: yellow;
}
