.body {
  background-color: rgb(241, 80, 80);;
}
h1 {
  text-align: center;
}
p {
  text-align: center;
}

.m {
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
}

.board {
  display: flex;
  min-width: 99px;
  flex-wrap: wrap;
  border: 2px solid black;
  height: 400px;
  width: 400px;
  margin: 100px;
  background-color: antiquewhite;
}


.lightbox {
  border: 1px solid black;
  height: 99px;
  margin: .5px;
  width: 99px;
  background-color: grey;
}

#on {
  background-color: yellow;
}
